.course-list {
  box-sizing: border-box;
  height: 58px;
  padding: 20px 0 20px 28px;
  color: #A4AFC3;
  cursor: pointer;
  list-style-type: none;
}

.course-list:hover {
  border: none;
  color: rgb(241, 241, 241);
  background: rgb(22, 164, 250);
  background: linear-gradient(to right, rgb(48, 184, 255), rgb(27, 148, 218));
}

.course-list:hover i {
  background-image: resolve('course_select.png');
}

.course-list span {
  display: inline-block;
  overflow: hidden;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-list i {
  display: inline-block;
  margin-right: 12px;
  width: 18px;
  height: 18px;
  background-image: resolve('course.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.course-select {
  border-left: 4px solid rgb(22, 164, 250);
  background: rgb(79, 95, 121);
}

.course-select i {
  margin-left: -4px;
  background-image: resolve('course_select.png');
}
