
html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

.page_left {
    position: absolute;
    width: 200px;
    height: 100%;
    left: 0;
    color: #fff;
    background-color: #3d485d;
}

.page_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 265px;
    height: 100%;
    background-color: #f5f5f5;
}

.page_left_title {
    line-height: 45px;
    background-color: cornflowerblue;
    text-align: center;
}

.page_left_sub_title {
    text-align: center;
    line-height: 35px;
}

.page_left ul {
    margin-top: 0;
    padding-left: 0;
}

.page_left li {
    list-style-type: none;
}

.page_left a {
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.page_left li:link, .page_left li:visited {
    height: 40px;
}

.page_left li:hover, .page_left li:active {
    background-color: cornflowerblue;
}

.page_right_head {
    height: 65px;
    background-color: #fff;
}

.user_info {
    padding-top: 0;
    margin-top: 0;
    background-color: aqua;
}

.user_info li {
    margin-top: 0;
    float: left;
    color: #999;
    list-style-type: none;
    margin-left: 10px;
}

.select {
    margin-right: 50px;
    height: 45px;
    float: right;
}

.page_right_subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    background-color: white;
}

.page_right_subtitle button {
    margin-left: 20px;
}

button {
    background-color: #16a4fa;
    color: #fff;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
}

.page_right_content {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    flex-direction: column;
}

.search_container {
    float: right;
    margin-right: 100px;
    padding-top: 15px;
    align-self: flex-end;
}

input {
    height: 30px;
    background-color: white;
    border: 1px solid #e2e2e2;
    margin-right: 10px;
}

.page_right_items_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 25px;
    margin-bottom: 25px;
}

.page_right_item {
    width: 20%;
    margin-right: 30px;
    margin-top: 30px;
}

.page_right_item_top {
    position: relative;
}

.page_right_item_top_img {
    width: 100%;
    height: 120px;
}

.page_right_item_top_text {
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    background-color: #503c08;
    opacity: 0.6;
    filter: alpha(opacity=60);
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page_right_item_bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 3px;
}

.page_right_item_bottom_btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 12px;
    color: #999;
}
#dialog_add_work {
    background: rgba(0,0,0,0.5);
}


.pagebar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.pagebar ul {
    display: flex;
    flex-direction: row;
    font-size: 0;
}

.pagebar li {
    margin-right: 16px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #A0A0A0;
    background: rgb(231, 231, 231);
    list-style-type: none;
}

.pagebar li:hover {
    background: rgb(48, 184, 255);
    color: #fff;
}

.page-select {
    background: rgb(22, 164, 250);
    color: #fff;
}

.page-next {
    margin: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
