html, body {
    width: 100%;
    height: 100%;
}

#classmate_background {
    height: 100%;
    background-color: #333;
    opacity: 0.4;
}

.classmate_dialog {
    position: absolute;
    border-radius: 10px;
    top: 23%;
    left: 35%;
    width: 300px;
    background-color: white;
}

.classmate_dialog_head {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    background-color: #16a5fa;
    height: 30px;
}

.classmate_dialog_head label {
    line-height: 30px;
    color: #fff;
    width: 100px;
}

.classmate_dialog_center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
}

.classmate_dialog_center button {
    width: 60px;
    height: 25px;
    margin-bottom: 30px;
    background-color: #16a4fa;
    color: #fff;
    border-style: none;
}

.user_list_box {
    height: 100%;
    width: 100px;
    border: 1px solid #e2e2e2;
}

.user_list_box_right {
    height: 100%;
    width: 100px;
    border: 1px solid #e2e2e2;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.search_box {
    display: flex;
    align-items: center;
    top: 0px;
}

.search_box input {
    width: 98%;
    height: 30px;
    background-color: white;
    border-style: none;
}

.user_list {
    width: 100%;
    height: 316px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.user_list label {
    width: 100%;
    color: #999;
    font-size: 13px;
    margin: 3px;
}

.right_name {
    width: 100%;
    height: 25px;
    color: #999;
    font-size: 13px;
    margin: 3px;
}

.classmate_dialog_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #F0f5f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.classmate_dialog_footer_btn {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #17a7fa;
    color: #fff;
    border-radius: 3px;
}