html, body {
    width: 100%;
    height: 100%;
}

#work_background {
    height: 100%;
    background-color: #333;
    opacity: 0.4;
}

.work_dialog {
    position: absolute;
    border-radius: 10px;
    top: 25%;
    left: 30%;
    width: 500px;
    background-color: white;
}

.dialog_head {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    background-color: #16a5fa;
    height: 30px;
}

.dialog_head li {
    list-style-type: none;
    line-height: 30px;
    color: #fff;
    width: 100px;
}

input {
    width: 200px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #e2e2e2;
}

#input_type_user {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #e2e2e2;
}

.dialog_center {
    padding-bottom: 20px;
}

.dialog_center_item {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 25px;
}

.dialog_center_item label {
    width: 100px;
    text-align: right;
    color: #999;
}

.dialog_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #F0f5f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#dialog_footer_btn {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #17a7fa;
    color: #fff;
    border-radius: 3px;
}
#dialog_add_members {
    background: rgba(0,0,0,0.5);
}