
.tab-switch {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

.tab-switch li {
  padding: 7px 39px 0;
  font-size: 15px;
  color: #4D5B67;
  list-style-type : none;
}

.tab-switch span {
  padding: 0 15px 10px;
}

.tab-select span {
  color: #16A4FA;
  border-bottom: 2px solid #16A4FA;
}

.tab-odd {
  border-right: 1px solid rgb(188, 188, 188);
}
