.aside {
  position: absolute;
  left: 0;
  width: 265px;
  height: 100%;
  font-size: 16px;
  background: rgb(60, 74, 96);
}

.logo {
  box-sizing: border-box;
  width: 265px;
  padding-top: 10px;
  height: 65px;
  text-align: center;
  background: rgb(22, 164, 250);  /* for IE8 */
  background: linear-gradient(to right, rgb(48, 184, 255), rgb(27, 148, 218));
}

.logo img,
.logo h1 {
  display: inline-block;
  vertical-align: middle;
}

.logo h1 {
  margin-left: 8px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
.course {
  padding: 16px 0;
  color: #F2F2F2;
  text-align: center;
  background: rgb(53, 64, 82);
}
